h1,
h2 {
	margin: 0;
}

.arrow-btn {
	font-size: 25px;
	display: inline;
	margin: 0 5px;
}

.length-display {
	display: inline;
	margin-bottom: 0;
}

#timeset {
	display: flex;
}

#timeset div {
	text-align: center;
	margin: 0 10px;
}

#timeset h4 {
	margin-bottom: 0;
}

#timer {
	margin-top: 10px;
	text-align: center;
}

#timer button {
	margin: 5px 5px;
}

#main {
	border: 3px solid gray;
	padding: 20px;
	padding-bottom: 15px;
	border-radius: 25px;
}
